.header {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background: #1F2937; 
    color: white;
    font-family: Hero, Verdana; 
    padding: 15px;  
    margin: -10px -10px 0 -10px; 
}

.top {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-left: 295px; 

}
.left {
    font-weight: bold; 
}

.right {
    margin-right: 295px; 
}
ul {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    list-style-type: none; 
}

li {
    display: flex; 
    justify-content: space-between;
    padding-left: 5px; 
    padding-right: 5px; 
}

a {
    text-decoration: none; 
    color: white; 
}

.subtitle {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px; 
    margin-bottom: 40px; 
}

.subtext {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap; 
    flex-basis: 420px; 
    flex-grow: 0; 
    flex-shrink: 0;
    align-items: flex-start;  
}
.firstline {
    display: flex; 
    font-size: 40px; 
    font-weight: bold; 
    padding-bottom: -10px; 
}

img {
    display: flex; 
}

button {
width: 100px; 
height: 30px; 
border-radius: 12px; 
margin-top: 10px; 
border-color:white; 
  appearance: none;
  backface-visibility: hidden;
  background-color: #3882F6;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: center;
  white-space: nowrap;
}

.random {
    display: flex; 
    justify-content: center;
    color: #344860;
    font-family: Verdana; 
    font-weight: bold; 
    font-size: 35px; 
    margin: 30px; 
}

.box1 .box2 .box3 .box4 {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 10px;    
  }
  
  .box {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    padding-bottom: 100px; 
  }
  
  .text {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
    text-align: center;  
    width: 200px; 
    padding-left: 10px; 
    font-size: 16px;
    font-family: verdana; 
    color: #7E7E7E; 
  }

  .image {
    padding: 10px; 
  }
   
  .quote {
    background-color: #E5E7EB;
    font-size: 32px; 
    font-family: Athiti, Antic, "Baloo 2", Verdana;  
    font-style: italic; 
    padding: 120px 300px 90px;  
    display: flex; 
    justify-content: center; 
    flex-direction: column;  
    font-weight: 100; 
  }

  p {
    font-weight: bold; 
    font-style: normal; 
    font-size: 20px; 
    display: flex; 
    justify-content: flex-end; 
  }
  
  .boxbutton {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    padding: 55px 60px; 
    background-color: #3882F6; 
    margin: 100px 200px; 
    border-radius: 10px; 
  }

  .lineone, .linetwo {
    color: white; 
    font-family: verdana; 
  }

  .lineone {
    font-size: 25px; 
    font-weight: bold; 
  }

  .linetwo {
    color: #F5F5F5; 
  }

  .secondbutton {
    border-color: white; 
    border: 2px solid white; 
    padding: 20px 70px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 18px; 
  }

  .footer {
    display: flex; 
    margin-top: auto; 
    justify-content: center; 
    background-color: #1F2937; 
    color: white; 
    font-size: 18px; 
    padding: 40px; 
    font-family: Verdana; 
    margin: -15px; 
  }